/* Home */
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');



#nav-nav{
    background-color: rgb(54, 9, 54) !important;
}

.home{
  background-color: rgb(54,9,54) !important;
  z-index: 2 !important;
}

.homee{
  background-color: rgb(54,9,54) !important;
}

.monisha{
  font-family: 'Lato', sans-serif;
    color: white;
    font-size: 40px;
    padding-top: 160px;
}


  /**/
  
  /* '
  
  NAVBARRRRR
  
  */

  .mona-name{
    font-family: 'Yellowtail', cursive;
    
    font-size: 35px !important;
    color: wheat !important;
  }

  .Link1, .Link2, .Link3, .Link4{
    font-size: 20px !important;
    padding-left: 26px !important;
    color: white !important;
  }

 
  .socio-img{
    padding-top: 20px;
  }

  .copy{
    padding-top: 10px;
  }
  .home {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 65% 90%, 0 100%);

}

.footer{
  background-color: rgb(224, 192, 217);
  margin-top: -110px;
  z-index: 1;
}

.icon1, .icon2, .icon3, .icon4, .icon5{
  padding-left: 7px;
  padding-right: 7px;
}

.hola{
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 50px;
  background: -webkit-linear-gradient(#ffffff, #a94949);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mona{
  font-family: 'Lato', sans-serif;
  font-size: 45px;
  background: -webkit-linear-gradient(#ffffff, #a94949);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.copyright{font-family: 'Lato', sans-serif;
  font-size: 18px;
  margin-top: 10px;

}

.love{
  margin-top: -10px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
